.page-header
  %h2 Report an incident

.row-fluid
  = form_for(@incident) do |f|
    - if @incident.errors.any?
      .alert.alert-danger
        - @incident.errors.full_messages.each do |msg|
          %p
            = msg
    .row-fluid
      .col-md-6
        %fieldset
          %legend Incident Info
          .row-fluid
            .col-md-6
              .form-group
                = f.label :incident_type
                %br
                = f.select :incident_type, Incident.incident_types, class: 'form-control'

            .col-md-6
              .form-group
                = f.label :district_id
                %br
                = f.select :district_id, options_from_collection_for_select(District.all, :id, :name), class: 'form-control'

          .row-fluid
            .col-md-12
              .form-group
                = f.label :title
                = f.text_field :title, class: 'form-control'

              .form-group
                = f.label :details, 'Description'
                = f.text_area :details, class: 'form-control', rows: 3

              .form-group
                = f.label :references
                = f.text_area :references, class: 'form-control', rows: 3
          .row-fluid
            .form-group
              = f.label :tags
              = f.collection_select :tags, Tag.all, :id, :name, {}, { class: 'form-control', id: 'tags_selector', multiple: true }
            -#= f.fields_for :tags, @incident.tags.build do |t|
            -#  .col-md-12
            -#    .form-group
            -#      = t.label :name, 'Tags'
            -#      %br
            -#      -#= t.select :name, options_from_collection_for_select(Tag.all, :id, :name), {},
            -#      -#  { class: 'form-control', id: 'tags_selector', multiple: true }
            -#      = t

      .col-md-6
        -#Right Pane

      .clearfix

    .row-fluid
      .col-md-12
        %fieldset
          %legend Casualties

          .col-xs-2
            %fieldset
              %legend Total
              .form-group
                = f.label :total_victims, 'Victims'
                = f.text_field :total_victims, class: 'form-control '
          .col-md-5
            %fieldset
              %legend Wonds
              .col-xs-4
                .form-group
                  = f.label :men_wonded, 'Men'
                  = f.text_field :men_wonded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_wonded, 'Women'
                  = f.text_field :women_wonded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :minor_wonded, 'Minors'
                  = f.text_field :minor_wonded, class: 'form-control'

          .col-md-5
            %fieldset
              %legend Death
              .col-xs-4
                .form-group
                  = f.label :men_dead, 'Men'
                  = f.text_field :men_dead, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_dead, 'Women'
                  = f.text_field :women_dead, class: 'form-control'

              .col-xs-4
                .form-group
                  = f.label :minor_dead, 'Minors'
                  = f.text_field :minor_dead, class: 'form-control'

      .row-fluid
        .col-md-12
          = f.submit 'Submit Incident for Review', :class => 'btn btn-primary'
