.page-header
  %h2 Report an incident

.row-fluid{:'ng-controller' => 'newIncidentController'}
  = form_for(@incident) do |f|
    - if @incident.errors.any?
      .alert.alert-danger
        - @incident.errors.full_messages.each do |msg|
          %p
            = msg
    .row-fluid
      .col-md-6
        %fieldset
          %legend Incident Info
          .row-fluid
            .col-md-6
              .form-group
                = f.label :incident_type
                %br
                = f.select :incident_type, Incident.incident_types,
                  { prompt: 'Please select incident type'}, {class: 'form-control'}

            .col-md-6
              .form-group
                = f.label :district_id
                %br
                = f.select :district_id, options_from_collection_for_select(District.all, :id, :name),
                  { :prompt => 'Please select district'}, {class: 'form-control'}

          .row-fluid
            .col-md-12
              .form-group
                = f.label :title
                = f.text_field :title, class: 'form-control'

              .form-group
                = f.label :details, 'Description'
                = f.text_area :details, class: 'form-control', rows: 3

              .form-group
                = f.label :references
                = f.text_area :references, class: 'form-control', rows: 3
          .row-fluid
            .col-md-12
              .form-group
                = f.label :tags
                = f.collection_select :tags, Tag.all, :id, :name, {}, { class: 'form-control', id: 'tags_selector', multiple: true }

          .row-fluid
            .col-md-7
              .form-group
                = f.label :happened_on, 'Incident Date'
                = f.date_select :happened_on, start_year: 2015, end_year: 2015

            .col-md-5
              %p{:'ng-if' => 'hideAddTime' }
                = link_to 'Add Time', 'javascript:void(0)',  :'ng-click' => 'toggleAddTime()'

              .form-group{:'ng-if' => '!hideAddTime'}
                = f.label :happened_at, 'Incident Time'
                = f.time_select :happened_at, ampm: true
                %span
                  &nbsp;&nbsp;
                  = link_to 'X', 'javascript:void(0)', :'ng-click' => 'toggleAddTime()', title: 'Do not add time'


      .col-md-6
        -#Right Pane

      .clearfix

    .row-fluid
      .col-md-12
        %fieldset
          %legend Casualties

          .col-xs-2
            %fieldset
              %legend Total
              .form-group
                = f.label :total_victims, 'Victims'
                -#%span.small.pull-right
                -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'total_victims')"))
                = f.text_field :total_victims, class: 'form-control'
          .col-md-5
            %fieldset
              %legend Wounds
              .col-xs-4
                .form-group
                  = f.label :men_wounded, 'Men'
                  -#%span.small.pull-right
                  -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'men_wounded')"))

                  = f.text_field :men_wounded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_wounded, 'Women'
                  -#%span.small.pull-right
                  -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'women_wounded')"))

                  = f.text_field :women_wounded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :minor_wounded, 'Minors'
                  -#%span.small.pull-right
                  -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'minor_wounded')"))

                  = f.text_field :minor_wounded, class: 'form-control'

          .col-md-5
            %fieldset
              %legend Deaths
              .col-xs-4
                .form-group
                  = f.label :men_dead, 'Men'
                  -#%span.small.pull-right
                  -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'men_dead')"))

                  = f.text_field :men_dead, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_dead, 'Women'
                  -#%span.small.pull-right
                  -#  = content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'women_dead')"))

                  = f.text_field :women_dead, class: 'form-control'

              .col-xs-4
                .form-group
                  = f.label :minor_dead, 'Minors'
                  -#%span.small.pull-right
                    -#= content_tag(:label, content_tag(:input, ' Unknown', type: :checkbox, :'ng-click' => "toggleUnknown($event, 'minor_dead')"))

                  = f.text_field :minor_dead, class: 'form-control'

      .row-fluid
        .col-md-12
          %fieldset
            %legend Optional

            .col-xs-6
              .form-group
                = f.label :notes, 'Notes to Reviewer'
                = f.text_area :notes, class: 'form-control', rows: 3
        .clearfix

      .row-fluid
        .col-md-12
          = f.submit 'Submit Incident for Review', :class => 'btn btn-primary'
        .clearfix