.page-header
  %h2 Report an incident

.row-fluid
  = form_for(@incident) do |f|
    - if @incident.errors.any?
      .alert.alert-danger
        - @incident.errors.full_messages.each do |msg|
          %p
            = msg
    .row-fluid
      .col-md-6
        %fieldset
          %legend Incident Info
          .row-fluid
            .col-md-6
              .form-group
                = f.label :incident_type
                %br
                = f.select :incident_type, Incident.incident_types,
                  { prompt: 'Please select incident type'}, {class: 'form-control'}

            .col-md-6
              .form-group
                = f.label :district_id
                %br
                = f.select :district_id, options_from_collection_for_select(District.all, :id, :name),
                  { :prompt => 'Please select district'}, {class: 'form-control'}

          .row-fluid
            .col-md-12
              .form-group
                = f.label :title
                = f.text_field :title, class: 'form-control'

              .form-group
                = f.label :details, 'Description'
                = f.text_area :details, class: 'form-control', rows: 3

              .form-group
                = f.label :references
                = f.text_area :references, class: 'form-control', rows: 3
          .row-fluid
            .col-md-12
              .form-group
                = f.label :tags
                = f.collection_select :tags, Tag.all, :id, :name, {}, { class: 'form-control', id: 'tags_selector', multiple: true }

          .row-fluid
            .col-md-7
              .form-group
                = f.label :happened_on, 'Incident Date'
                = f.date_select :happened_on, start_year: 2015, end_year: 2015

            .col-md-5
              .form-group
                = f.label :happened_at, 'Incident Time'
                = f.time_select :happened_at, ampm: true



      .col-md-6
        -#Right Pane

      .clearfix

    .row-fluid
      .col-md-12
        %fieldset
          %legend Casualties

          .col-xs-2
            %fieldset
              %legend Total
              .form-group
                = f.label :total_victims, 'Victims'
                = f.text_field :total_victims, class: 'form-control '
          .col-md-5
            %fieldset
              %legend Wounds
              .col-xs-4
                .form-group
                  = f.label :men_wounded, 'Men'
                  = f.text_field :men_wounded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_wounded, 'Women'
                  = f.text_field :women_wounded, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :minor_wounded, 'Minors'
                  = f.text_field :minor_wounded, class: 'form-control'

          .col-md-5
            %fieldset
              %legend Deaths
              .col-xs-4
                .form-group
                  = f.label :men_dead, 'Men'
                  = f.text_field :men_dead, class: 'form-control'
              .col-xs-4
                .form-group
                  = f.label :women_dead, 'Women'
                  = f.text_field :women_dead, class: 'form-control'

              .col-xs-4
                .form-group
                  = f.label :minor_dead, 'Minors'
                  = f.text_field :minor_dead, class: 'form-control'

      .row-fluid
        .col-md-12
          = f.submit 'Submit Incident for Review', :class => 'btn btn-primary'
